@import 'func.scss';
html,body{
	margin: 0;
	padding: 0;
}
body{
	//background-color: #a4ffa5;
	//overflow-x: hidden;

	.hamburger{
		&:before,
		&:after,
		span{
			content: '';
			position: absolute;
			display: block;
			left: 0;
			height: 10px;
			width: 50px;
			background-color: black;
			-webkit-transition: top 0.2s linear 0s,
						-webkit-transform 0.2s linear 0.2s;
			-moz-transition: top 0.2s linear 0,
						-moz-transform 0.2s linear 0.2s;
			transition: top 0.2s linear 0,
						transform 0.2s linear 0.2s;
		}
		span{
			top: 20px;
		}
		&:before{
			top: 0;
		}
		&:after{
			top: 40px;
		}
		&.open{
			&:before,
			&:after{
				top: 20px;
				@include CSS3(transform, rotate(45deg));
			}
			span{
				top:20px;
				@include CSS3(transform, rotate(-45deg));
			}
			&:before,
			&:after,
			span{
				-webkit-transition: top 0.2s linear 0.2s,
						-webkit-transform 0.2s linear 0s;
				-moz-transition: top 0.2s linear 0.2s,
							-moz-transform 0.2s linear 0s;
				transition: top 0.2s linear 0.2s,
							transform 0.2s linear 0s;
			}
		}
	}

	section{
		position: relative;
		margin: 150px auto 0px;
		min-height: 700px;
		width: 100%;
		//max-width: 1200px;
		background-color: white;
		//border-radius: 5px;

		header{
			position: absolute;
			overflow: hidden;
			top: 0px;
			left: 50%;
			margin: -110px 0 0 -110px;
			width: 200px;
			height: 200px;
			border: 10px solid white;
			border-radius: 50%;

			img{
				width: 200px;
				height: 200px;
			}
		}
		article{
			position: relative;
			//top: -220px;
			margin: 0;
			padding: 50px 10px;

			figure{
				margin: 0px;
				figcaption{
					font-size: 2em;
					line-height: 2.5em;
				}
				ul{
					list-style: none;
					margin: 0;
					padding: 0;
					@include fixclear();

					li{
						float: left;
						position: relative;
						overflow: hidden;
						padding: 10px;
						width: 20%;
						height: 300px;
						@include CSS3(box-sizing, border-box);

						img{
							position: absolute;
							margin: 0 auto;
							width: 100%;
						}
					}
				}
			}
		}
	}
	footer{
		text-align: center;
		font-size: 0.9em;
		line-height: 3em;
	}
}