html, body {
  margin: 0;
  padding: 0;
}

body .hamburger:before, body .hamburger:after,
body .hamburger span {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  height: 10px;
  width: 50px;
  background-color: black;
  -webkit-transition: top 0.2s linear 0s, -webkit-transform 0.2s linear 0.2s;
  -moz-transition: top 0.2s linear 0, -moz-transform 0.2s linear 0.2s;
  transition: top 0.2s linear 0, transform 0.2s linear 0.2s;
}
body .hamburger span {
  top: 20px;
}
body .hamburger:before {
  top: 0;
}
body .hamburger:after {
  top: 40px;
}
body .hamburger.open:before, body .hamburger.open:after {
  top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .hamburger.open span {
  top: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body .hamburger.open:before, body .hamburger.open:after,
body .hamburger.open span {
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s linear 0s;
  -moz-transition: top 0.2s linear 0.2s, -moz-transform 0.2s linear 0s;
  transition: top 0.2s linear 0.2s, transform 0.2s linear 0s;
}
body section {
  position: relative;
  margin: 150px auto 0px;
  min-height: 700px;
  width: 100%;
  background-color: white;
}
body section header {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 50%;
  margin: -110px 0 0 -110px;
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
}
body section header img {
  width: 200px;
  height: 200px;
}
body section article {
  position: relative;
  margin: 0;
  padding: 50px 10px;
}
body section article figure {
  margin: 0px;
}
body section article figure figcaption {
  font-size: 2em;
  line-height: 2.5em;
}
body section article figure ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body section article figure ul:after {
  content: '';
  display: table;
  clear: both;
}
body section article figure ul li {
  float: left;
  position: relative;
  overflow: hidden;
  padding: 10px;
  width: 20%;
  height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body section article figure ul li img {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}
body footer {
  text-align: center;
  font-size: 0.9em;
  line-height: 3em;
}
